html { 
  background: url(4a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body{
  color:#f5f5f5
}
.is-transparent{
  color:white;
  background-color: transparent;
  background-image: none;  
  }
.tutorial {
  text-align: center;
  margin: auto;
  margin-top: 50vh;
  opacity: 0.7;
  
}
 .content h1{
  color:#f5f5f5
}
.content h4{
  color:#f5f5f5
}
.media{
height: 16rem;
}
figure.image {
  display: flex;
  justify-content: center;
  
}

figure .image img {
  width: 128px;
}

.notification {
  min-height: 16vh;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

/* .hero {
  margin-bottom: 20px;
} */

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
#tutorial .notification{
  min-height: 5vh;
}
footer {
    height: 50px;
}
@media only screen and (max-width: 761px) {
  body{
    margin:1em;
  }
    .media{
      height: auto;
      display: contents;
      padding-bottom: 20rem;
      font-size: xx-small;
    }
    .notification{
      min-height: 13vh;
      padding:0.5em; 
      font-size: small;
    }
    .notification .title{
      font-size: medium;
    }
    .notification .subtitle{
      font-size: small;
    }
    .media-content{
      height: 20vh;;
    }
    figure{
      padding-left:1em;
    }
    .media-left{
      margin-right:0em;
    }
    figure .image{
      width:100%;
    }
    .results{
      font-size: x-small;
    }
    .dropdown-menu{
     min-width: 11rem;
    }
    .dropdown-item{
      padding:0.375rem 0.1rem;
    }
    .dropdown-content .results{
      font-size: xx-small;
    }
    a.dropdown-item{
      font-size: xx-small;
      padding-right:0em;
      white-space: inherit;

    }
    .dropdown-item img{
      margin-right:2px;
    }
  }